
/* ##############Debut de Style concernant la page principal############# */


*{
   margin: 0;
   padding: 0;

}
body{
   
   width: 100%;
   height: 900px;
}

.principal{
   width: 100%;
   height: 15%;
   background-color: #532CA6;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   border-radius: 0px 0px 40px 40px ;
}

.div_logo_user{
   width: 25%;
   height: 100%;
   display: flex;
   flex-direction: row;
   font-size: 60px;
   color: white;

}

#iconuser{
   align-self: center;
   margin-left: 10%;
   font-size: 80px;
   margin-right: 2%;
}
#iconhome{
   color: white;
   align-self: center;
   margin-left: 10%;
   margin-right: 2%;
}
span{
   width: 50%;
   height: 100%;
   display: flex;
   align-items: center;
}

.div_bouton_page_principal{
   width: 25%;
   height: 100%;
   display: flex;
}

.bouton_principal,.deconnexion{
   width: 45%;
   height: 40%;
   margin-top: 15%;
   margin-right: 15px;
   border-radius: 15px;
   background-color: #AE25DE;
   color: white;
}

.btn_ajout{
   font-size: 150%;
   width: 100%;
   height: 100%;
   border-radius: 15px;
   border: 2px solid #AE25DE;
   color: white;
   background-color: #AE25DE;
}
.btn_affiche{
   height: 40%;
   width: 50%;
   background-color: #AE25DE;
   font-size: 150%;
   color: white;
   border-radius: 15px;
   border: 2px solid #AE25DE;
   margin-top: 14%;
   margin-right: 10%;
}
.welcome{
   height: 80%;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   display: none;
}
/* ############Tout ce qui concerne l'ajout des users ################ */

.title_adduser{
   width: 100%;
   height: 20%;
   display: flex;
   justify-content: center;
   align-items: center;

}

.form_adduser{
   width: 80%;
   height: 60%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.adduser_champ{
   width: 70%;
   height: 20%;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
   font-size: 20px;
}
.adduser_champ label{
   background-color: #532CA6;
   color: white;
   font-size: 30px;
   padding: 10px;
   width: 20%;
   text-align: center;
}
.input_adduser{
   width: 70%;
   height: 80%;
   background-color: #F1F1F1;
   box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   border: #F1F1F1;
   font-size: 24px;
   
}
.div_btn_adduser{
   display: flex;
   justify-content: center;
}

.btn_submit{
   width: 30%;
   height: 60%;
   font-size: 25px;
   background-color: #AE25DE;
   color: white;
   border-radius: 15px;
   border: #AE25DE;
}

.choice_user{
   width: 30%;
   height: 15%;
   border: 2px solid #532CA6;
   display: flex;
   align-items: center;
   justify-content: space-between;
   flex-direction: column;
   margin-top: 15%;
   /* margin-left: 10%; */
   font-size: 25px;
   /* background-color: #5d5d5d; */
   background-color: #532CA6;
   color: white;
   border-radius: 1em;
   display: none;
}
.champ_choice{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

#choice_user{
   width: 20%;
   height: 35%;
}

.btn_choice_user{
   display: flex;
   justify-content:center;
   width: 15%;
   height: 25%;
   margin-left: 80%;
   background-color: #AE25DE;
   border: #AE25DE;
   color: white;
   margin-bottom: 3px;
   border-radius: 0.2em;

}

/* ######################Affichage de un à cinq user ########################### */

#body_affichage{
   width: 100%;
   height: 80%;
   display: flex;
   margin-top: 40px;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}

.affiche{
   width: 90%;
   height: 100%;
   display: flex;
   
   flex-direction: column;
}

.div_info_user{
   width: 90%;
   height: 10%;
   margin-right: 20%;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}

.info_user{
   width: 15%;
   height: 100%;
   display: flex;
   justify-content: center;
   font-size: 30px;
   background-color: #532CA6;
   color: white;

}

.div_article_user{
   width: 100%;
   height: 18%;
   margin-top: 10px;
}

.article_user{
   width: 92%;
   height: 70%;
   display: flex;
   flex-direction: row;
   align-items: center;
   text-decoration: none;
   justify-content: space-around;
   color: #532CA6;
}

.paragraphe_user{
   width: 25%;
   height: 100%;
   display: flex;
   justify-content: center;
   font-size: 180%;
   background-color: #F5D7FF;
}

.champ_user {
   width: 100%;
   height: 90%;
   display: flex;
   flex-direction: row;
}

.edit_btn{
   width: max-content;
   height: 70%;
   background-color: #F5D7FF;
   color: white;
   font-size: 15px;
}
.delete_btn{
   width: max-content;
   height: 70%;
   background-color: #F5D7FF;
   color: white;
   font-size: 15px;
}
a{
   text-decoration: none;
}


.delete_btn{
   width: 7%;
}
#modif,#sup{
   font-size: 25px;
   color: #AE25DE;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-top: 20%;
}
#modif{
   padding-top: 90%;

}



/* ###################Fin de style concernant la page principale###################### */


/* ##############Debut de Style concernant la page user Post############# */


.menu{
   width: 80%;
   display: flex;
   justify-content: space-evenly;
}
.list{
   margin-top: 15px;
   list-style: none;
   font-size: 60px;
   color: white;
   cursor: pointer;
   height: 50%;
   width: 17%;
   text-align: center;
   align-self: center;
}
.list a:hover{
   background-color: #F5D7FF;
   color: #532CA6;
   border-radius: 10px
   
}
.list a{
   text-decoration: none;
   color: white;
}

.deconnexion{
   margin: 0;
   margin-left: 20px;
   margin-top: 15px;
   height: max-content;
   width: max-content;
   border: #AE25DE;
   font-size: 24px;
}

.main{
   display: flex;
   flex-wrap: wrap;
   justify-content: space-evenly;
  
   height: 80%;
}

.block{
   background-color: #F5D7FF;
   height: 45%;
   width: 60%;
   margin: 20px;
   position: relative;
} 

.icone_accueille_user{
   margin: 2%;
   padding: 2%;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   background-color:rgb(231, 231, 125);
   color: rgb(73, 62, 1);
}

/* ###################Fin de style concernant la page user Post###################### */

/* #################Style concernant la page post #######################################*/

.contenu_post{
   width: 70%;
   height: max-content;
   margin-left: 2%;
   /*  */
   font-size: 150%;
}

.boutton_comment{
   width: 10%;
   height: 5%;
   margin-left: 2%;
   background-color: #AE25DE;
   border-radius: 10px;
   color: white;
}

/* #################Fin de style concernant la page post ################################### */


/* ################## STYLE PAGE DES COMMENTS ##################################### */

.block_comment{
   width: 70%;
   height: 10%;
   margin-left: 2%;
}
.titre_champ_comment{
   font-size: 20px;
   text-decoration-line:underline;
}

/* ################## STYLE PAGE DES COMMENTS ##################################### */

.formulaire_editer_comment{
   position: relative;
   left: 45%;
   width: max-content;
   background-color: rgb(103, 192, 203);
   font-weight: bold;
   border-radius: 10px;
   text-decoration-line: underline;
   margin-top: 5%;

}


.formulaire_supprimer_comment{
   position: relative;
   left: 45%;
   width: max-content;
   margin-top: 2%;
}

.boutton_editer_comment{
   background-color: rgb(8, 188, 50);
   font-weight: bold;
   color: white;
}
.boutton_supprimer_comment{
   background-color: rgb(231, 41, 114);
   font-weight: bold;
   color: white;
}
/* ##############Debut de Style concernant la page user Album############# */
.titre{
   background-color: white;
   margin-top: 4%;
}
.more{
   background-color: #AE25DE;
   color: white;
   font-size: medium;
   border-radius: 1em;
   border: #AE25DE;
   width: 10%;
   height: 10%;
   position: absolute;
   bottom: 0;
   margin-left: 50%;
}

.sr-only-focusable:not(:focus) {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   margin: -1px;
   overflow: hidden;
   clip: rect(0,0,0,0);
   white-space: nowrap;
   border-width: 0;
 }

 .page-link {
   position: relative;
   display: block;
   color: #0d6efd;
   text-decoration: none;
   background-color: #fff;
   border: 1px solid #dee2e6;
   transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
 }
 /* ######################## Page album et addAlbum ############### */
.block_album{
   width: 50%;
   height: 55%;
   /* margin-left: 5%; */
   background-image: url("../images/couv_album.jpg") ;
}
.add_champ{
   margin-left: 10%;
}
.but_addalbum{
   margin-top: 5%;
}
/* ###################Fin de style concernant la page user Post###################### */


/* ####################### formulaire modifier album ################ */

.formulaire_modifier_album{
   width: max-content;
   display: flex;
   flex-direction: column;
   height: 60%;
   justify-content: space-around;
   background-color: #3b7de0;
   color: white;
   text-decoration-line: underline;
   border-radius: 10px;
}
.page_modifier_album{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 80%;
   color: rgb(179, 52, 6);
}
.but_validation_album{
   background-color: #08b811;
   color: #dee2e6;
   font-size: large;
   font-weight: bold;
   border-style: dotted;
}
.but_supprimer_album{
   background-color: red;
   color: white;
   font-size: large;
   font-weight: bold;
}
.but_voir_photo{
   background-color: rgba(218, 202, 202, 0.866);
   color:rgb(31, 64, 231);
   font-size: x-large;
   font-weight:bold;
   border-radius: 10px;
   margin-top: 8%;
   margin-left: 8%;
}

.block_body_album{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 60%;
}

.formulaire_modifier_album{
   width: max-content;
   display: flex;
   flex-direction: column;
   height: 60%;
   justify-content: space-around;
   background-color: #3b7de0;
   color: white;
   text-decoration-line: underline;
   border-radius: 10px;
}
.page_modifier_album{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 80%;
   color: rgb(179, 52, 6);
}
.but_validation_album{
   background-color: #08b811;
   color: #dee2e6;
   font-size: large;
   font-weight: bold;
   border-style: dotted;
}
.but_supprimer_album{
   background-color: red;
   color: white;
   font-size: large;
   font-weight: bold;
}
.but_voir_photo{
   background-color: rgba(218, 202, 202, 0.866);
   color:rgb(31, 64, 231);
   font-size: x-large;
   font-weight:bold;
   border-radius: 10px;
   margin-top: 8%;
   margin-left: 8%;
}

.block_body_album{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 60%;
}



 /* ##############Fin de Style concernant la page user Album############# */


.tblock{
   font-size: 40px;
   text-align: center;
}

/* ###################Fin de style concernant la page user Todo###################### */

/* ###################Fin de style concernant la page user Info###################### */
.block1{
   height: 100%;
   width: 45%;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.champ{
   display: flex;
   width: 90%;
}

.champ label,.block2 h3{
   color: white;
   background-color: #532CA6;
   padding: 20px;
   font-size: 30px;
   align-items: flex-end;
   width: 20%;
   margin-left: 15px;
  
}
.champ input{
   width: 40%;
   align-items: flex-end;
   margin-left: 30px;
   
}

.input_password{
   font-size: 1em;
  
   width: 100%;
   height: 60%;
  /* transition: all 0.2s; */
}

.champ_password{
   
   position: relative;
   height: 80%;
}
 

label .password-icon {
   display: flex;
   align-items: center;
   position: absolute;
   top: 20%;
   left: 38%;
   width: 20px;
   color: black;
 }

 label .password-icon:hover {
   cursor: pointer;
 }

 label .password-icon .feather-eye-off {
   display: none;
 }

.champ .infouser{
   background-color: #F5D7FF;
   width: 60%;
   border: #F5D7FF;
   align-items: flex-end;
   margin-left: 30px;
   color: blue;
   font-size: 200%;
}

.block2{

   width: 45%;
   height: 100%;
   display: flex;
   flex-direction: column;
  
}

.sblock{
   height: 50%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   background-color:#F5D7FF;
}

.block2 h3{
   margin: 15px;
   margin-left: 40%;
}



/* ###################Fin de style concernant la page user Info###################### */


/* ################## STYLE PAGE DE CONNEXION ############################################ */

.connexion{
   color: white;
   margin-left: 45%;
   font-size: 96px;
}

.formulaire{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   width: 80%;
   height: 80%;
   margin-left: 15%;
}
.login,.password{
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   height: 40%;
}
.login label,.password label{
   font-size: 46px;
   font-weight: 100;
}
.login input ,.password input{
   width: 40%;
   /* height: 80%; */
   background-color: #F1F1F1;
   border: #F1F1F1;;
   box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 40px;
}
.boutValid{
   cursor: pointer;
   color: white;
   background-color: #AE25DE;
   width: 30%;
   font-size: 64px;
   border-radius: 0.3em;
   border: #AE25DE;
}
.boutValid a{
   color: white;
   text-decoration:none;
} 
   /* ####################### FIN STYLE PAGE DE CONNEXION ########################## */


   /* *************************************MAP******************************************/

   /* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
#map {
   height: 35%;
 }
 
 /* 
  * Optional: Makes the sample page fill the window. 
  */
 
 
 .custom-map-control-button {
   background-color: #fff;
   border: 0;
   border-radius: 2px;
   box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
   margin: 10px;
   padding: 0 0.5em;
   font: 400 18px Roboto, Arial, sans-serif;
   overflow: hidden;
   height: 40px;
   cursor: pointer;
 }
 .custom-map-control-button:hover {
   background: rgb(235, 235, 235);
 }

 .map{
    border: 2px solid black;
   width: 100%;
   height: 40%; 
 }

 /* ********************************************************************************* */
 /* ********************************************************************************* */



 /* ***************       page modification USERS           ******************** */
 .mainmodifuser{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
 }
#modification_user {
   display: flex;
   height: 80%;
   width: 100%;
   font-size: large;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
}
.edituser_champ{
   display: flex;
   align-items: center;
   width: 100%;
   justify-content: center;
   height: 15%;
}
.label_adduser{
   background-color: #532CA6;
   color: white;
   width: 10%;
   margin-right: 2%;
   text-align: center;
   font-size: 35px;
}
.input_edituser{
   width: 30%;
   background-color: #F1F1F1;
   border: #F1F1F1;;
   box-shadow:  inset 0px 4px 4px rgba(0, 0, 0, 0.25);
   font-size: 25px;
}
.btn_edituser{
   display: flex;
   justify-content: center;
   width: 70%;
   height: 15%;
   margin-left: 10%;
}
/* *****************        block footer           *********** */

/* footer {
   width: 100%;
   height: 350px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-between;
   margin-top: 130px;
   
} */


/* ************************ Boutton Editer et Supprimer************** */
 
.bouton_edit_album {
   /* margin-left: 15%; */
   border-radius: 10px;
   color: rgb(29, 184, 5);
   font-weight: bold;
   margin-top: 1%;
   background-color:rgb(247, 243, 243);
}
.bouton_sup_album {
   margin-left: 15%;
   border-radius: 10px;
   color: red;
   font-weight: bold;
   margin-top: 1%;
   background-color:white;
}

/* ***************            FORMULAIRE ADDPHOTO       ******************     */

.form_addPhoto{
   width: 100%;
   height: 50%;
   /* border: 2px solid black; */
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   justify-content: space-around;
   align-items: center;
}

.block_formulaire_addphoto {
   width: 50%;
   height: 25%;
   /* border: 2px solid black; */
   /* position: relative;
   left: 100px; */
}

.div_btn_addphoto{
   height: 10%;
   width: 30%;
   /* border: 2px solid black; */
}

.btn_submit_addPhoto{
   height: 90%;
   width: 20%;
   /* margin-left: 10%; */
   background-color: #AE25DE;
   color: white;
   /* border-radius: 10%; */
   border: 2px solid #AE25DE;
}

.addphoto{
   height: 40%;
   width: 50%;
}
/* ######################## page affiche photo ############## */
.block_body_photo{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 90%;
}
/* #################### ##### page modifier photo ################ */

.modifier_photo{display: flex;
flex-direction: column;
align-items: center;
height: 80%;
color: rgb(152, 11, 63);
}

.formulaire_modifier_photo{
   background-color: rgba(131, 148, 3, 0.86);
}
.but_validation_photo{
   background-color: #08b81f;
   color: rgb(218, 211, 211);
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;

}
.but_supprimer_photo{
   background-color: red;
   color: white;
   border-radius: 10px;
   font-size: 25px;
   font-weight: bold;
}
/* ######################## page affiche photo ############## */
.block_body_photo{
   display: flex;
   flex-direction: column;
   align-items: center;
   height: 90%;
}
/* #################### ##### page modifier photo ################ */

.modifier_photo{display: flex;
flex-direction: column;
align-items: center;
height: 80%;
color: rgb(152, 11, 63);
}

.formulaire_modifier_photo{
   background-color: rgba(131, 148, 3, 0.86);
}
.but_validation_photo{
   background-color: #08b81f;
   color: rgb(218, 211, 211);
   border-radius: 5px;
   font-size: 20px;
   font-weight: bold;

}
.but_supprimer_photo{
   background-color: red;
   color: white;
   border-radius: 10px;
   font-size: 25px;
   font-weight: bold;
}
/* ***************            FORMULAIRE ADDPost      ******************     */

.form_addPost{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   height: 60%;
}

.title_post{
   text-align: center;
   margin-top: 2%;
}

.addpost_champ{
   display: flex;
   flex-direction: column;
   /* align-items: center; */
   
   width: 30%;
   height: 20%;
   margin-top: 3%;
}

.input_addpost{
   width: 100%;
   height: 50%;
}

.addpost_champ_text{
   display: flex;
   width: 30%;
   flex-direction: column;
   
   width: 30%;
   height: 30%;
   margin-top: 3%;
}

.textarea_post{
   width: 100%;
   height: 70%;
   font-size: 20px;
}

.label_addpost{
   font-size: 200%;
}

.contenu_post{
   font-size: 200%;
}

.div_btn_addpost{
   display: flex;
   justify-content: center;
   width: 30%;
   height: 20%;
   margin-top: 2%;

}


.btn_submit_post{
   width:30%;
   height: 40%;
   background-color: #AE25DE;
   color: white;
   font-size: x-large;
}


.boutton_formulaire_post_editer {
   border-radius: 10px;
   width: max-content;
   font-size: 15px;
   color: white;
   background-color: rgb(73, 157, 5);
   margin: 10px;
   /* position: relative;
   left: 100px; */
}

.boutton_formulaire_post_supprimer {
   border-radius: 10px;
   width: max-content;
   font-size: 15px;
   color: white;
   background-color: rgb(215, 20, 20);
   margin: 10px;
   /* position: relative;
   left: 100px; */
}

.boutton_sup_photo {
   width: max-content;
   height: max-content;
   font-size: 20px;
   color: white;
   margin-right: 20px;
   border-radius: 10px;
   background-color: brown;
   /* margin: 10px; */
}
.boutton_editer_photo {
   width: max-content;
   height: max-content;
   font-size: 20px;
   color: white;
   border-radius: 20px;
   background-color: rgb(89, 165, 42);
   /* margin: 10px; */
   margin-right: 10px;

}
/* ######################### FORMULAIRE EDITER POST ####################### */
.formulaire_editer_post{
   position: relative;
   left: 45%;
   width: max-content;
   background-color: rgb(105, 172, 170);
   font-weight: bold;
   border-radius: 10px;
   text-decoration-line: underline;
   margin-top: 5%;
}

.formulaire_supprimer_post{
   position: relative;
   left: 45%;
   width: max-content;
   margin-top: 2%;
}
.boutton_validation_editer_post{
   background-color: rgb(93, 179, 8);
   color: white;
}

.boutton_validation_supprimer_post{
   background-color: rgb(179, 8, 94);
   color: white;
}



/* ***************            FORMULAIRE ADDCOMMENTS      ******************     */
.form_addComment {
   display: flex;
   height: 500px;
   flex-direction: column;
   align-items: center;
   justify-content: space-around;


}

.boutton_valider_addcomment {
   width: fit-content;
   height: fit-content;
   border-radius: 5px;
   background-color: #a0095c;
   color:white;
}


/* ********************** formulaire addcomment ********************* */
.boutton_formulaire_comment_editer {
   border-radius: 10px;
   width: max-content;
   font-size: 15px;
   color: white;
   background-color: rgb(73, 157, 5);
   margin: 10px;
   
}
.boutton_formulaire_comment_supprimer {
   border-radius: 10px;
   width: max-content;
   font-size: 15px;
   color: white;
   background-color: rgb(214, 20, 65);
   margin: 10px;
   
}
/****************************Formulaire mofifier user**************/




