{% extends 'base.html' %}

{% block content %}
    <div class="title_album">
        <h1>Remplissez les champs ci-dessous et soumettez le formulaire</h1>
    </div>
    <form action="{{ request.path }}" class="form_addAlbum" method="post">
        
        <div class="addpost_champ">
            <label for="" class="label_adduser">Titre</label>
            <input type="text" class="input_addpost" name="title">
        </div>
        <div class="addalbum_champ div_btn_addalbum">
            <button type="submit" class="btn_submit">Valider</button>
        </div>
    </form>
{% endblock %}

