{% extends 'base.html' %}

{% block content %}
    <div class="title_todo">
        <h1>Remplissez les champs ci-dessous et soumettez le formulaire</h1>
    </div>
    <form action="{{ request.path }}" class="form_addTodo" method="post">
        
        <div class="addtodo_champ">
            <label for="" class="label_addtodo">Titre</label>
            <input type="text" class="input_addtodo" name="title">
        </div>
        <div class="addtodo_champ">
            <label for="">A faire</label>
           <textarea name="a_faire" ></textarea>
        </div>
        <div class="addtodo_champ">
            <label for="">En Cours</label>
           <textarea name="en_cours" ></textarea>
        </div>
        <div class="addtodo_champ">
            <label for="" class="label_addtodo">Terminer</label>
            <input type="text" class="input_addtodo" name="fini">
        </div>
        <div class="addpost_champ div_btn_addtodo">
            <button type="submit" class="btn_submit">Valider</button>
        </div>
    </form>
{% endblock %}

