{% extends 'base.html' %}

{% block content %}
    <nav class="principal">
        <div class="div_logo_user">
            <i class="fa-regular fa-user" id="iconuser"></i>
            <span >User</span>
        </div>
        <div class="div_bouton_page_principal">
            <a href="{{ url_for('adduser') }}"  class=" bouton_principal"><button class="btn_ajout">+Ajouter un user</button></a>
            <a href="" class="bouton_principal"><button class="btn_ajout">Afficher des users</button></a>
        </div>
    </nav>
   <div  id="body_affichage">
      <div class=" affiche">
            <div class="div_info_user">
                <span class="info_user">Name</span>
                <span class="info_user">Username</span>
                <span class="info_user">Phone</span>
                <span class="info_user">email</span>
            </div>
            {% for i in range(n) %}
                <div class="div_article_user">
                    <div class="champ_user">
                    <a href="{{ url_for('connexion', email=  fiche[i]['email'],id= fiche[i]['id']) }}" class="article_user" >
                        <span class="paragraphe_user">{{ fiche[i]['name'] }}</span>
                        <span class="paragraphe_user" name="username" id="username">{{ fiche[i]['username'] }}</span>
                        <span class="paragraphe_user">{{ fiche[i]['phone'].split('x')[0] }}</span>
                        <span class="paragraphe_user">{{ fiche[i]['email'] }}</span>
                    </a>
                    <a href="{{ url_for('modifierUser',id=fiche[i]['id']) }}" class="edit_btn "><i class="fa-solid fa-pen" id="modif"></i></a>
                    <a href="{{ url_for('supprimerUser', id=fiche[i]['id']) }}" class="delete_btn"><i class="fa-solid fa-trash-can" id="sup"></i></a>
                    </div>
                </div>
            {% endfor %}
      </div>

{% endblock %}