{% extends 'base.html' %}

{% block content %}
<nav class="principal">
    <a href="{{ url_for('deconnexion') }}"><button class="deconnexion">Déconnexion</button></a>
    <ul class="menu">
        <li class="list" style="font-size: 35px;"><a href="{{ url_for('addComments',postId=postId) }}">Ajouter Un Comment</a></li>
    </ul>
</nav>
<div>
    {% with message=get_flashed_messages() %}
        {% if message %}
            <h3>{{ message[0] }}</h3>
        {% endif %}
    {% endwith %}
</div>
{% for comment in commentsPost %}
    <div class="block_comment">
        <h2 class="titre">
            Name: {{ comment.name }} <a href="{{ url_for('modifierComments',id=comment.id,postId=postId) }}"><button class="boutton_formulaire_comment_editer">Editer</button></a><a href="{{ url_for('supprimerComments',id=comment.id,postId=postId) }}"><button class="boutton_formulaire_comment_supprimer">supprimer</button></a>
        </h2>
    </div>
    <div class="block_comment">
        <h6 class="titre_champ_comment">Email</h6>
        <input type="text" value="{{ comment.email }}">
     </div>
    <div class="block_comment">
        <h6 class="titre_champ_comment">Contenu</h6>
      <p>{{ comment.body }}</p>
    </div>
{% endfor %}
{% endblock %}
