{% extends 'base.html' %}

{% block content %}

<nav class="principal">
    <p class="connexion">Connexion</p>
</nav>
<form method="post" class="formulaire">
    <div  class="login">
        <label for="log">Login</label>
        <input type="text" name="connect" id="log" class="champ" required >
    </div>
    <div class="password"> 
        <label for="mp">Password</label>
        <input type="password" name="secur" id="mp" class="champ" value="">
    </div>
    <div class="submit">
        <button type="submit" class="boutValid" onclick="valider()">Sign In</button>
    </div>
</form>
{% endblock %}