{% extends 'base.html' %}

{% block content %}
<!-- <script src="js_connexion.js" defer></script> -->
<nav class="principal">
    <p class="connexion">Connexion</p>
</nav>
<form method="post" class="formulaire" action="{{ url_for('connexion',email = mail,id=id) }}">
    <div  class="login">
        <label for="log">Login</label>
        <input type="text" name="connect" id="log" class="champ" required value="{{ mail }}">
    </div>
    <div class="password"> 
        <label for="mp">Password</label>
        <label class="champ_password">
            <input type="password" name="secur" id="mp" class="champ input_password" value="" onmouseover="valider()" placeholder="Mot de passe">
            <div class="password-icon" >
                <i data-feather="eye" class="beut_ler"></i>
                <i data-feather="eye-off" class="beut_lendem"></i>
            </div>
        </label>
        <script src="https://unpkg.com/feather-icons"></script>
        <script>
        feather.replace();
        </script>
    <div class="submit">
       
            <button type="submit" class="boutValid">
                 <a>
                     Sign In 
                 </a>
            </button>
    
</form>
{% endblock %}