{% extends 'base.html' %}


{% block content %}
<h1>{% block title %} Editer "{{ post.title }}" {% endblock %}</h1>

<div>
    {% with message=get_flashed_messages() %}
        {% if message %}
            <h3>{{ message[0] }}</h3>
        {% endif %}
    {% endwith %}
</div>
<form action="{{ url_for('editerPost', id=post.id,userId=userId) }}" method="post" class="formulaire_editer_post">
    <div class="element_edit">
        <p>Identifiant utilisateur</p>
        <input type="text" name="userId" class="champ_edit" value="{{ request.form.get('userId') or post.userId }}">
    </div>
    <div class="element_edit">
        <p>Identifiant du Post</p>
        <input type="text" name="id" class="champ_edit" value="{{ post.id }}">
    </div>
    <div class="element_edit">
        <p>Titre du post</p>
        <input type="text" name="title" class="champ_edit" value="{{ request.form.get('title') or post.title }}">
    </div>
    <div class="element_edit">
        <p>Contenu du Post</p>
        <textarea name="body" class="champ_edit">{{ request.form.get('body') or post.body }}</textarea>
    </div>
    <div class="element_edit">
        <button type="submit" class="boutton_validation_editer_post">Valider</button>
    </div>
</form>

<hr>
<form action="{{ url_for('supprimerPost', id=post.id,userId=userId) }}" method="POST" class="formulaire_supprimer_post">
    <input type="submit" value="Supprimer Post" class="boutton_validation_supprimer_post">
</form>

{% endblock %}