{% extends 'base.html' %}

<h1>{% block title %} Editer "{{ album.title }}" {% endblock %}</h1>

{% block content %}
<form action="{{ url_for('modifierAlbum', id=album.id) }}" method="post">
    <div class="element_edit">
        <label for="userId">Identifiant utilisateur</label>
        <input type="text" name="userId" class="champ_edit" value="{{ request.form.get('userId') or album.userId }}">
    </div>
    <div class="element_edit">
        <label for="id">Identifiant de l'Album</label>
        <input type="text" name="id" class="champ_edit" value="{{ album.id }}">
    </div>
    <div class="element_edit">
        <label for="title">Titre de l'Album</label>
        <input type="text" name="title" class="champ_edit" value="{{ request.form.get('title') or album.title }}">
    </div>
    <div class="element_edit">
        <button type="submit" class="but_validation_album">Valider</button>
    </div>
</form>

<hr>
<form action="{{ url_for('supprimerAlbum', id=album.id) }}" method="POST">
    <input type="submit" value="Supprimer Album" class="">
</form>

{% endblock %}