{% extends 'base.html' %}


{% block content %}
    <main class="mainmodifuser">
        <h1>Modifier l'utilisateur</h1>
    <form action="{{ url_for('modifierUser', id=user.id) }}" class="form_edituser" method="post" id="modification_user">
        <div class="edituser_champ">
            <label for="" class="label_adduser">Name</label>
            <input type="text" class="input_edituser" name="nom" value="{{ request.form.get('nom') or user.name }}">
        </div>
        <div class="edituser_champ">
            <label for=""  class="label_adduser">Username</label>
            <input type="text" class="input_edituser" name="prenom" value="{{ request.form.get('prenom') or user.username }}">
        </div>
        <div class="edituser_champ">
            <label for=""  class="label_adduser">Email</label>
            <input type="email" class="input_edituser" name="mail" value="{{ request.form.get('mail') or user.email }}">
        </div>
        <div class="edituser_champ">
            <label for=""  class="label_adduser">Adresse</label>
            <input type="text" class="input_edituser" name="address" value="{{ request.form.get('address') or user.address }}">
        </div>
        <div class="edituser_champ">
            <label for=""  class="label_adduser">Phone</label>
            <input type="text" class="input_edituser" name="tel" value="{{ request.form.get('tel') or user.phone }}">
        </div>
        <div class="edituser_champ">
            <label for=""  class="label_adduser">Company</label>
            <input type="text" class="input_edituser" name="company" value="{{ request.form.get('company') or user.email }}">
        </div>
        <div class="edituser_champ">
            <label for=""  class="label_adduser">Website</label>
            <input type="text" class="input_edituser" name="site" value="{{ request.form.get('site') or user.website }}">
        </div>

        <div class="btn_edituser">
            <button type="submit" class="btn_submit">Valider</button>
        </div>
    </form>
    </main>
{% endblock %}

