{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Editer "{{ comment.name }}" {% endblock %}</h1>
<div>
    {% with message=get_flashed_messages() %}
        {% if message %}
            <h3>{{ message[0] }}</h3>
        {% endif %}
    {% endwith %}
</div>
<form action="{{ url_for('modifierComments', id=comment.id,postId=postId) }}" method="post" class="formulaire_editer_comment">
    <div class="element_edit">
        <p>Identifiant Post</p>
        <input type="text" name="postId" class="champ_edit" value="{{ request.form.get('postId') or comment.postId }}">
    </div>
    <div class="element_edit">
        <p>Identifiant du Comment</p>
        <input type="text" name="id" class="champ_edit" value="{{ comment.id }}">
    </div>
    <div class="element_edit">
        <p>Le Nom du Comment</p>
        <input type="text" name="name" class="champ_edit" value="{{ request.form.get('name') or comment.name }}">
    </div>
    <div class="element_edit">
        <p>L'Email du Comment</p>
        <input type="text" name="email" class="champ_edit" value="{{ request.form.get('email') or comment.email }}">
    </div>
    <div class="element_edit">
        <p>Contenu du Comment</p>
        <textarea name="body" class="champ_edit">{{ request.form.get('body') or comment.body }}</textarea>
    </div>
    <div class="element_edit">
        <button type="submit" class="boutton_editer_comment">Valider</button>
    </div>
</form>

<hr>
<form action="{{ url_for('supprimerComments', id=comment.id,postId=postId) }}" method="POST" class="formulaire_supprimer_comment">
    <input type="submit" value="Supprimer Comment" class="boutton_supprimer_comment">
</form>

{% endblock %}