{% extends 'base.html' %}

<h1>{% block title %} Editer "{{ todo.title }}" {% endblock %}</h1>

{% block content %}
<form action="{{ url_for('modifierTodo', id=todo.id,userId=userId) }}" method="post">
    <div class="element_edit">
        <h3>Identifiant Utilisateur</h3>
        <input type="text" name="userId" class="champ_edit" value="{{ request.form.get('userId') or todo.userId }}">
    </div>
    <div class="element_edit">
        <h3>Identifiant Todo </h3>
        <input type="text" name="id" class="champ_edit" value="{{ todo.id }}">
    </div>
    <div class="element_edit">
        <h3>Titre Todo</h3>
        <input type="text" name="title" class="champ_edit" value="{{ request.form.get('title') or todo.title }}">
    </div>
    <div class="element_edit">
        <h3>ÉTAT</h3>
        <textarea name="ETAT" > {{ request.form.get('ETAT') or todo.ETAT }}</textarea>
    </div>
    <div class="element_edit">
        <button type="submit" class="but_validation_todo">Valider</button>
    </div>
</form>

<hr>
<form action="{{ url_for('supprimerTodo', id=todo.id,userId=userId) }}" method="POST">
    <input type="submit" value="Supprimer Todo" class="">
</form>

{% endblock %}