{% extends 'base.html' %}

{% block content %}
    <nav class="principal">
        <div class="div_logo_user">
            <i class="fa-regular fa-user" id="iconuser"></i>
            <span >User</span>
        </div>
        <div class="div_bouton_page_principal">
            <a href="{{ url_for('adduser') }}"  class=" bouton_principal"><button class="btn_ajout">+Ajouter un user</button></a>
            <a href="{{ url_for('paginate') }}" class="bouton_principal"><button class="btn_ajout">Afficher des users</button></a>
        </div>
    </nav>

    <div  id="body_affichage">
      <div class=" affiche">
            <div class="div_info_user">
                <span class="info_user">Name</span>
                <span class="info_user">Username</span>
                <span class="info_user">Phone</span>
                <span class="info_user">email</span>
            </div>
            {% for i in range(a) %}
              <div class="div_article_user">
                <div class="champ_user">
                  <a href="{{ url_for('connexion', email=  users[i]['email'],id= users[i]['id']) }}" class="article_user" >
                      <span class="paragraphe_user">{{ users[i]['name'] }}</span>
                      <span class="paragraphe_user" name="username" id="username">{{ users[i]['username'] }}</span>
                      <span class="paragraphe_user">{{ users[i]['phone'].split('x')[0] }}</span>
                      <span class="paragraphe_user">{{ users[i]['email'] }}</span>
                  </a>

                  <a href="{{ url_for('modifierUser', id=users[i]['id']) }}" class="edit_btn "><i class="fa-solid fa-pen" id="modif"></i></a>
                  <a href="{{ url_for('supprimerUser', id=users[i]['id']) }}" class="delete_btn"><i class="fa-solid fa-trash-can" id="sup"></i></button></a>
                </div>
            </div>
            {% endfor %}
      </div>

      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% for i in range(l) %}
          <li class="page-item"><a class="page-link" href="/paginate?per_page=5&page={{ i+1 }}">{{ i+1 }}</a></li>
          {% endfor %}
          <li class="page-item">
            <a class="page-link" href="" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>

    </div>
{% endblock %}
  