{% extends 'base.html' %}

{% block content %}
<nav class="principal">
    <a href="{{ url_for('deconnexion') }}"><button class="deconnexion">Déconnexion</button></a>

    <ul class="menu">
        <li class="list" style="font-size: 35px;"><a href="{{ url_for('addPhoto',albumId=albumId) }}"><button class="ajouter_element">Ajouter Photo</button></a></li>
    </ul>
</nav>
<div>
    {% with message=get_flashed_messages() %}
        {% if message %}
            <h3>{{ message[0] }}</h3>
        {% endif %}
    {% endwith %}
</div>
{% for photo in photosAlbum %}
    <div class="block_body_photo">

        <div class="block_formulaire_addphoto">
            <h2 class="titre"><a href="{{ url_for('modifierPhoto',id=photo.id,albumId=albumId) }}"><button class="boutton_editer_photo">Editer</button></a><a href="{{ url_for('supprimerPhoto',id=photo.id,albumId=albumId) }}"><button class="boutton_sup_photo">Supprimer</button></a>
               Titre Photo: {{ photo.title }}</h2>
            <hr>
            <img src="{{ photo.url }}" alt="">
            <hr>
            <h2 class="titre">thumbnailUrl: {{ photo.thumbnailUrl }}</h2>
            
        </div>
    </div>
{% endfor %}
{% endblock %}

