{% extends 'base.html' %}

{% block content %}
<nav class="principal">
    <div class="div_logo_user">
        <i class="fa-solid fa-user" id="iconhome"></i>
        <span >User</span>
    </div>
    <ul class="menu">
        <li class="list" style="font-size: 35px;"><a href="{{ url_for('createPost',userId=userId) }}">Ajouter Post</a></li>
    </ul>
    <a href="{{ url_for('deconnexion') }}"><button class="deconnexion">Déconnexion</button></a>

</nav>
<div>
    {% with message=get_flashed_messages() %}
        {% if message %}
            <h3>{{ message[0] }}</h3>
        {% endif %}
    {% endwith %}
</div>
{% for post in postsUser %}
    <div class="contenu_post">
        <h2 class="titre">Titre: {{ post.title }} <a href="{{ url_for('editerPost',id=post.id,userId=userId) }}"><button class="boutton_formulaire_post_editer">Editer</button></a><a href="{{ url_for('supprimerPost',id=post.id,userId=userId) }}"><button class="boutton_formulaire_post_supprimer">supprimer</button></a></h2>
    </div>
    <div class="contenu_post">
       <p>{{ post.body }}</p>
    </div>
    <a href="{{ url_for('comments',postId=post.id) }}" ><button class="boutton_comment" >comment</button></a>

{% endfor %}
{% endblock %}


