{% extends 'base.html' %}

{% block content %}
    <nav class="principal">
        <div class="div_logo_user">
            <div class="div_image_user">
                <div class="logo_user"></div>
            </div>
            <span >User</span>
        </div>
        <div class="div_bouton_page_principal">
            <a href="{{ url_for('adduser') }}"  class=" bouton_principal"><button class="btn_ajout">+Ajouter un user</button></a>
            <a href="" class="bouton_principal"><button class="btn_ajout btn_affiche">Afficher des users</button></a>
        </div>
    </nav>
    <div>
        <form class="choice_user" method="post" action="{{ url_for('affiche') }}">
            <label for="choice_user">Nombre de user entre 1 et 5</label>
            <input type="text" id="choice_user" name="choice_user">
            <button class="btn_choice_user">OK</button>
        </form>
    </div>
{% endblock %}