{% extends 'base.html' %}

{% block content %}
    <nav class="principal">
        <div class="div_logo_user">
            <i class="fa-solid fa-house" id="iconhome"></i>
            <span >Home</span>
        </div>
        <div class="div_bouton_page_principal">
            <a href="{{ url_for('adduser') }}"  class=" bouton_principal"><button class="btn_ajout">+Ajouter un user</button></a>
           <button class="btn_affiche" onclick="activeblock()">Afficher des users</button>
        </div>
    </nav>
    <div>
        {% with message=get_flashed_messages() %}
            {% if message %}
                <h1>{{ message[0] }}</h1>
            {% endif %}
        {% endwith %}
    </div>
    <form class="choice_user" method="post" action="{{ url_for('affiche',fiche=fiche,n=n) }}">
        <div class="champ_choice">
            <label for="choice_user">Veuillez saisir un nombre entre 1 et 5</label>
            <input type="number" id="choice_user" name="choice_user" max="5" min="1">
        </div>
        <button class="btn_choice_user" onclick="desactiveblock()">OK</button>
    </form>
    <div class="welcome">
        <img src="{{ url_for('static',filename='images/welcome.jpg') }}" alt="" >
    </div>

{% endblock %}