{% extends 'base.html' %}

{% block content %}
<nav class="principal">
   <a href="{{ url_for('deconnexion') }}"><button class="deconnexion">Déconnexion</button></a>

    <ul class="menu">
        <li class="list" style="font-size: 35px;"><a href="{{ url_for('addTodo',userId=userId) }}">Ajouter Todo</a></li>
    </ul>
</nav>
{% for todo in todos %}
    <div class="block">
        <h2 class="titre"><a href="{{ url_for('modifierTodo',id=todo.id,userId=userId) }}"><button class="boutton_formulaire">Editer</button></a><a href="{{ url_for('supprimerTodo',id=todo.id,userId=userId) }}"><button class="boutton_formulaire">Supprimer</button></a>
           {{ todo.title }}</h2>
    </div>
    <div class="block">
       <textarea >{{ todo.ETAT }}</textarea>
    </div>
    
{% endfor %}
{% endblock %}
