{% extends 'userpost.html' %}



<!-- 
{% block main%}
<div class="block1">
    <div class="champ">
        <label for="name">Name</label>
        <input type="text" name="name" id="name">
    </div>
    <div class="champ">
        <label for="username">UserName</label>
        <input type="text" name="username" id="username">
    </div>
    <div class="champ">
        <label for="phone">Phone</label>
        <input type="text" name="phone" id="phone">
    </div>
    <div class="champ">
        <label for="website">Website</label>
        <input type="text" name="website" id="website">
    </div>
</div>
  <div class="block2">
      <h3>Company</h3>
      <div class="sblock">
            <div class="champ">
                <label for="namec">Name</label>
                <input type="text" name="name" id="namec">
            </div>
            <div class="champ">
                    <label for="Cphase">Catch Phase</label>
                    <input type="text" name="Cphase" id="Cphase">
            </div>
            <div class="champ">
                    <label for="Bs">Bs</label>
                    <input type="text" name="Bs" id="Bs">
                </div>
      </div>
     
  </div>
   
{% endblock main %} -->
