{% extends 'base.html' %}

{% block content %}
<nav class="principal">
    <button class="deconnexion">Déconnexion</button>
    <ul class="menu">
        <li class="list"><a href="{{ url_for('post') }}">Post</a></li>
        <li class="list" ><a href="{{ url_for('album', userId=userId) }}">Album</a></li>
        <li class="list"><a href="{{ url_for('todo') }}">Todo</a></li>
        <li class="list"><a href="{{ url_for('affiche_infos_user',userId=userId) }}"> Info</a> </li>
    </ul>
</nav>
<main class="main">
    {% block main %}
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    <div class="block"></div>
    {% endblock main %}
</main>
{% endblock %}