{% extends 'userpost.html' %}


{% block main %}

    <div class="block">
        <h2 class="titre">Titre</h2>
        <div class="sbloc"></div>
        <button class="more">More</button>
    </div>
    <div class="block">
        <h2 class="titre">Titre</h2>
        <div class="sbloc"></div>
        <button class="more">More</button>
    </div>
    <div class="block">
        <h2 class="titre">Titre</h2>
        <div class="sbloc"></div>
        <button class="more">More</button>
    </div>
    <div class="block">
        <h2 class="titre">Titre</h2>
        <div class="sbloc"></div>
        <button class="more">More</button>
    </div>
{% endblock main %}